
.logoBorder{
    border: 1px solid black;
    transition: transform 1s;
  }

  .logoBorder:hover{
    transform: rotate(360deg);
}

.active{
    color:gray;
    border-bottom: 1px solid red;
    cursor: default;
  
}