.menuDroit{
	background-color: #343a40;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    padding:0 16px;



}

.logoBorder{
    border: 1px solid black;
    transition: transform 1s;
  }
  .logoBorder:hover{
      transform: rotate(360deg);
  }






.links-container a, .links-container a:visited {
    color: white;
    margin-left: 30px;
}

.links-container a:hover {
    text-decoration: none;
    color: gray;
    cursor: pointer;
    border-bottom: 1px solid red;
}

.links-container a.active{
  color:gray;
  border-bottom: 1px solid red;
  cursor: default;
}


